@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Monoton&display=swap");
nav {
  position: fixed;
  left: 0;
  z-index: 1;
  border-right: 0.1px solid rgba(235, 232, 232, 0.295);
  width: 110px;
  bottom: 0;
  top: 0;
  height: 100%;
  background-color: var(--nav-bar-backgroundColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

nav .logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

nav .logo-block img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

nav .navbar-links {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav .navbar-links li {
  cursor: pointer;
  -ms-grid-column-align: center;
      justify-self: center;
  overflow: hidden;
  padding: 4rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar-links li a {
  color: #fff;
}

nav .navbar-links li.active {
  background-color: #fff;
}

nav .navbar-links li.active a {
  color: var(--nav-bar-backgroundColor);
}

#menu {
  position: fixed;
  right: 0;
  z-index: 1;
  border-right: 0.1px solid rgba(235, 232, 232, 0.295);
  width: 290px;
  bottom: 0;
  top: 0;
  height: 100%;
  background-color: var(--nav-bar-backgroundColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

#menu .logo-block {
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

#menu .logo-block img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#menu form {
  color: #fff;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (0.2fr)[4];
      grid-template-rows: repeat(4, 0.2fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#menu form .menu-header-flag {
  background-color: #fff;
  color: var(--nav-bar-backgroundColor);
  width: 230px;
  padding: .5rem .2rem;
  text-transform: uppercase;
  font-size: .9rem;
}

#menu form .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
  height: 100%;
}

#menu form .filter-recipe-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#menu form .filter-recipe-label label {
  margin-top: 1rem;
}

#menu form .search-form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu form .search-form-button button {
  background-color: var(--pink);
  color: #fff;
  text-transform: uppercase;
  padding: .8rem 2rem;
  cursor: pointer;
  border: none;
}

#menu form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  margin-top: 3rem;
  padding: .2rem 0;
  margin-left: .5rem;
}

#menu form input:focus {
  outline: none;
}

#menu form input[type="number"] {
  width: 30px;
  text-align: center;
}

@media screen and (max-width: 1366px) {
  body #menu {
    width: 270px;
  }
}
/*# sourceMappingURL=nav.css.map */