

.product-section{
    max-width: 1100px;
    margin: 0 auto;
    height: 85vh;
    display: flex;
    transform:translate(0%,5%) ;
    justify-content: center;
    .product-show{
        padding: 1rem;
        width: 50%;
        height: 100%;
        background-color: var(--nav-bar-backgroundColor);
        .product-image{
            width: 400px;
            height: 400px;
            margin: .8rem auto ;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 270px;
                height:250px;
                object-fit: cover;
            }
        }
        .product-ingredients{
            color:#fff;
            .ingredient-hearding{
               font-size: 2rem;
               text-transform: uppercase;
            }
            .ingredients{
                padding: 1rem;
                li{
                    margin-top: 1rem;
                }
            }
        }
    }
    .product-information-block{
      
        
        border-top: 5px solid #333;
        border-right: 5px solid #333;
        border-bottom: 5px solid #333;
       .product-rating{
           span{
               font-weight: 900;
           }
       }
       .prd-star{
           color: var(--pink);
       }
        padding: 1rem;
        display: flex;
        flex-direction: column;
          justify-content: space-between;
          color:var(--nav-bar-backgroundColor);
        width: 50%;
        .product-header{
            .product-heading{
               font-size: 3rem;
               text-decoration: underline;
            }
            .product-brief-informations{
               
                margin-top: 1rem;
               display: flex;
              justify-content: space-between;
              align-items: flex-start;
               .product-information{
                  display: flex;
                 
                  .prd-label{font-weight: 900;}
                  .prd-data{font-style: italic;}
               }
            }
        }
        .product-description{

        }
        .product-preperation-steps{
            .product-steps{
                h3{
                    font-size: 1.5rem;
                    i{
                        color: var(--pink);
                    }
                }
                .steps{
                   padding: 1rem;
                    li{
                        margin-top: 1rem;
                    }
                }
            }
        }
        .share{
            span{
                color: var(--pink);
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .product-section{
        transform:translate(4%,5%) ;
    }
    
}